name: Cyclic Imports
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  cyclic-import:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5

      - name: Setup python environment
        uses: ./.github/actions/setup-env

      - name: check minrecord
        run: |
          python -c "import minrecord"

      - name: check minrecord.utils
        run: |
          python -c "from minrecord import utils"
