name: Nightly Package Tests
on:
  schedule:
    - cron: '40 8 * * *' # run at 8:40 AM UTC
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  get-versions:
    uses: ./.github/workflows/get-versions.yaml

  stable:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install batcharray'

  stable-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install "batcharray[all]"'

  latest:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre batcharray'

  latest-all:
    uses: ./.github/workflows/test-package.yaml
    with:
      install-cmd: 'uv pip install --pre "batcharray[all]"'


  ########################
  #     Dependencies     #
  ########################

  coola:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: coola
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).coola) }}


  #################################
  #     Optional dependencies     #
  #################################

  objectory:
    needs: get-versions
    uses: ./.github/workflows/test-package-dep.yaml
    with:
      package-name: objectory
      package-versions: ${{ toJson(fromJson(needs.get-versions.outputs.package_versions).objectory) }}
